* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    color: #F9FAF8;
    font-size: 48px;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 32px;
}

p {
    color: #e5e7ebd8;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    height: 40px;
    width: 130px;
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #e5e7ebed;
    margin-top: 10px;
}

.header {
    height: 60px;
    padding-left: 216px;
    padding-right: 216px;
    padding-bottom: 100px;
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    font-size: 18px;
    color: #e5e7ebd8;
    padding: 16px;
}

.section1 {
    background-color:#1F2937;
    padding-left: 216px;
    padding-right: 216px;
    padding-bottom: 100px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-shrink: 0;
}

.left-side {
    displaY: flex;
    flex-direction: column;
    gap: 8px;
}

.image-holder {
    font-size: 18px;
    margin-left: 32px;
    width: 400px;
    height: 220px;
    background-color: grey;
    color: #e5e7ebed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.section2 {
    padding-left: 216px;;
    padding-right: 216px;;
    margin-bottom: 82px;
    display: flex;
    justify-content: space-between;
}

.box {
    font-size: 18px;
    color: #e5e7eb3e;
    height: 100px;
    width: 100px;
    border: 4px solid #3882F6;
}
